@page "/"
@using EmployeeManagement.Web.Services
@using EmployeeManagement.Models
@using Newtonsoft.Json;
@inherits EmployeeListBase

<h3>Selected Employees Count - @SelectedEmployeeCount</h3>
<input type="checkbox" id="showFooter" @bind="@ShowFooter"/>
<label for="showFooter">Show Footer</label>
@if (Employees is null)
{
    <h1>Loading...</h1>                
}
else
{
    <div class="card-deck">
    @foreach (var employee in Employees)
    {
        <DisplayEmployee Employee="@employee" ShowFooter="@ShowFooter" 
                         OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
    }
    </div>
}